* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    /* background-color: aqua; */
    /* height: 200px; */
    width: 80%;
    margin: auto;
}

.bar1 {
    /* background-color: blue; */
    /* height: 120px; */
    width: 100%;
    margin: auto;
}

.bar2 {
    background-color: navy;
    height: 80px;
    width: 100%;
    margin: auto;
}

.a {
    /* background-color: yellow; */
    height: 120px;
    width: 30%;
    float: left;
    display: inline-block;
    padding-top: 30px;
    height: 100%;
}

.b {
    background-color: white;
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 30px;
}

.c {
    /* background-color: green; */
    height: 100%;
    width: 20%;
    float: right;
    padding-left: 11%;
    padding-top: 30px;
}

.c button {
    background-color: darkorange;
    padding: 17px;
    border: none;
    border-radius: 20px
}

.c button:hover {
    background-color: white;
    cursor: pointer;
    color: darkorange;
    border: 1px solid darkorange;
}

.b1 {
    float: left;
    width: 45%;
    margin: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.span {
    float: left;
    width: 20px;
}

.Email {
    float: left;
    width: 80%;
}

.b1>.Email>p {
    font-size: 15px;
}

.bar2 {
    clear: both;
}

.image {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url(villa.jpg);
    background-size: cover;
    background-position: center;
}

.bar2 li {
    display: inline;
    padding-left: 20px;
}

.bar2 a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bar2 ul {
    word-spacing: 15px;
    padding-top: 25px;
}

.bar2 input {
    /* display: inline-block; */
    float: right;
    padding-right: 20px;
    background-color: navy;
    padding-bottom: 15px;
    border: none;
    color: white;
    font-size: 15px;
}

.image h1 {
    padding-top: 150px;
    padding-left: 120px;
    color: white;
}

.image h2 {
    padding-left: 120px;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}

.para {
    color: white;
    padding-left: 120px;
    padding-top: 10px;
}

.image button {
    margin-left: 120px;
    margin-top: 20px;
    background: orangered;
    border: none;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 30px;
}

.one {
    width: 25%;
    height: 300px;
    text-align: center;
    background-color: orangered;
    float: left;
}

.two {
    width: 25%;
    height: 300px;
    background-color: navy;
    display: inline-block;
    /* padding-right: 15px; */
}

.three {
    width: 25%;
    margin: 0;
    height: 300px;
    background-color: orangered;
    display: inline-block;
    margin-left: -5px;
}

.four {
    width: 25%;
    height: 300px;
    background-color: navy;
    display: inline-block;
    float: right;
}

.divbox h1 {
    text-align: center;
    color: white;
    padding-top: 80px;
    margin-bottom: 20px;
}

.divbox p {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 10px;
    font-size: 16px;
    width: 80%;
    margin: auto;
}

.divbox {
    width: 100%;
    height: 300px;
    background-color: orangered;
}

.overlay {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.image button:hover {
    background-color: white;
    cursor: pointer;
    color: darkorange;
    border: 1px solid darkorange;
}

.i-content {
    z-index: 300;
    position: absolute;
}

.writepic {
    /* background-color: aqua; */
    height: 900px;
    width: 100%;
}

.writeup {
    /* background-color: blue; */
    height: 1030px;
    width: 50%;
    padding-bottom: 50px;
    float: left;
}

.pics {
    width: 35%;
    float: left;
    height: 1000px;
    /* background-color: blueviolet; */
}

.heading {
    padding-top: 50px;
    padding-left: 100px;
}

.heading p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.safety {
    /* background-color: brown; */
    height: 150px;
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
}

.s-text {
    float: left;
    width: 80%;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 27px;
}

.s-text p {
    font-size: 17px;
}

.safety img {
    height: 50px;
    width: 18%;
    float: left;
    margin-top: 40px;
    /* margin-right: 20px; */
}

.safety h2 {
    color: black;
}

.pics {
    background-image: url(pic.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 20px;
    height: 100%;
}

.dimimage {
    position: relative;
    width: 100%;
    height: 540px;
    background-color: tomato;
    background-image: url(kitchen.jpg);
    background-position: center;
    background-size: cover;
    /* padding-top: 100px; */
}

.ovelay {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 255, 0.26);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main {
    position: absolute;
    z-index: 2;
    left: 5%;
    right: 5%;
    top: 50px;
    /* padding: 80px;   */
    width: 90%;
    /* margin: auto; */
}

.video {
    height: 350px;
    width: 49%;
    /* background-color: slateblue; */
    float: left;
}

.content {
    float: right;
    height: 350px;
    width: 49%;
    margin-bottom: 40px;
    /* background-color:yellow; */
}

.content h1 {
    color: white;
    padding-top: 10px;
    padding-left: 30px;
    z-index: 2;
}

.content p {
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    line-height: 25px;
    font-size: 20px;
    z-index: 2;
}

.dimimage video {
    height: 100%;
    width: 100%;
    /* margin-top: -30px; */
    /* margin-bottom: -30px; */
}

.numcontain {
    width: 100%;
    margin: auto;
    height: 80px;
    /* background-color: brown; */
    clear: both;
    text-align: center;
    color: white;
    margin-top: 40px;
}

.eighteen {
    width: 25%;
    height: 100%;
    /* background-color: aqua; */
    float: left;
}

.courses {
    background-color: white;
    width: 100%;
    height: 350px;
    text-align: center;
}

.courses h1 {
    padding-top: 70px;
    font-size: 50px;
}

.courses p {
    padding-top: 50px;
    font-size: 25px;
}

.engineering {
    background-color: white;
    width: 100%;
    height: 650px;
}

.electric {
    background-color: white;
    width: 25%;
    height: 600px;
    float: left;
    border-right: 20px solid white;
    border-left: 40px solid white;
}

.electric img {
    height: 300px;
    width: 100%;
    padding-bottom: 15px;
}

.electric li {
    display: inline;
    padding-right: 7px;
    padding-left: 5px;
}

.electric h2 {
    padding-top: 10px;
    padding-left: 5px;
}

.electric p {
    padding-left: 5px;
    padding-top: 10px;
    font-size: 20px;
}

.apply button {
    height: 30px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 30px;
    width: 100px;
    background-color: orangered;
    color: white;
    border: none;
}

.apply button:hover {
    background-color: white;
    cursor: pointer;
    color: darkorange;
    border: 1px solid darkorange;
}

.teachers {
    background-color: rgb(243, 236, 236);
    height: 300px;
    width: 100%;
    text-align: center;
}

.teachers h1 {
    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 50px;
}

.teachers p {
    font-size: 20px;
    padding-right: 150px;
    padding-left: 150px;
}

.teachimage {
    width: 100%;
    height: 700px;
    background-color: firebrick;
}

.tpics {
    height: 100%;
    width: 25%;
    background-color: rgb(243, 239, 239);
    text-align: center;
    float: left;
    border-right: 10px solid white;
    border-left: 20px solid white;
}

.tpics img {
    width: 100%;
    height: 60%;
    margin-bottom: 40px;
}

.tpics h2 {
    padding-bottom: 10px
}

.tpics h4 {
    color: orangered
}

.tpics p {
    padding-top: 40px;
    font-size: 20px
}

.formcontainer {
    background-color: darkgoldenrod;
    height: 600px;
    width: 100%;
    background-image: url(house.jpg);
    color: white;
    position: relative;
}

.hp {
    padding-left: 800px;
    padding-top: 100px;
}

.hp h1 {
    font-size: 40px;
}

.hp p {
    font-size: 20px;
    padding-top: 40px;
}

.form {
    display: inline;
    float: right;
    font-size: 60px;
    padding-right: 190px;
    background-color: none;
}

.form input {
    background-color: ;
    font: #fff;
    border: none;
    font-size: 15px;
}

.fnln select {
    background-color: inherit;
    border: none;
    font-size: 15px;
}

.form button {
    background-color: orangered;
    border: none;
    height: 50px;
    border-radius: 20px;
    width: 200px;
    color: white;
    font-size: 17px;
}

.messrq button:hover {
    background-color: white;
    cursor: pointer;
    color: darkorange;
    border: 1px solid darkorange;
}

.ovlay {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 255, 0.26);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.formwriteup {
    position: absolute;
    z-index: 2;
    left: 5%;
    right: 5%;
    top: 50px;
}

.blog {
    background-color: rgb(243, 236, 236);
    height: 300px;
    width: 100%;
    text-align: center;
}

.blog h1 {
    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 50px;
}

.blog p {
    font-size: 20px;
    padding-right: 150px;
    padding-left: 150px;
}

.skills {
    background-color: chocolate;
    width: 100%;
    height: 800px;
    border: none;
}

.x {
    background-color: rgb(250, 246, 246);
    height: 100%;
    width: 33.3%;
    float: left;
    border-right: 20px solid white;
    padding-left: 20px;
    margin-bottom: 40px;
    border-right: 10px solid white;
    border-left: 20px solid white;
}

.x img {
    height: 50%;
    width: 100%;
    padding-bottom: 40px;
}

.x p {
    padding-top: 40px;
    font-size: 20px;
}

.read button {
    margin-top: 30px;
    font-size: 25px;
    background-color: orangered;
    border-radius: 30px;
    border: none;
}

.says {
    background-color: white;
    height: 300px;
    width: 100%;
    text-align: center;
}

.says h1 {
    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 50px;
}

.says p {
    font-size: 20px;
    padding-right: 150px;
    padding-left: 150px;
}

.slide {
    width: 100%;
    height: 400px;
    background-color: white;
    padding-top: 150px;
}

.slideimage {
    background-image: url(vintage.jpg);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 300px;
    border-radius: 100%
}

.slidetext {
    padding-left: 535px;
    font-size: 23px;
    padding-right: 350px;
    padding-top: 10px;
}

.slidetext h4 {
    padding-top: 30px;
}

.slidetext h5 {
    padding-top: 10px;
    color: orangered;
}

.photos {
    width: 100%;
    height: 400px;
    background-color: tomato;
}

.photo1 {
    width: 25%;
    height: 100%;
    background-color: slategrey;
    /* background-image: url(vintage.jpg); */
    background-position: center;
    background-size: cover;
    float: left;
}

.photo1 img {
    height: 400px;
    width: 100%;
}

.end {
    background-color: black;
    width: 100%;
    height: 400px;
}

.subdiv {
    width: 25%;
    height: 100%;
    background-color: rgb(29, 27, 27);
    padding-top: 50px;
    padding-left: 50px;
    float: left;
}

.subdiv ul {
    list-style-type: none;
}

.subdiv h2 {
    padding-bottom: 30px;
    color: white;
}

.subdiv p {
    padding-bottom: 60px;
    padding-left: 20px;
    color: white;
}

.subdiv img {
    height: 80px;
    width: 80px;
    float: left;
    padding-bottom: 2px;
    padding-right: 20px;
}

.subdiv img p {
    padding-left: 20px;
}

.subdiv a {
    line-height: 25px;
    text-decoration: none;
    color: white;
}

.subdiv input {
    background-color: rgb(233, 211, 211);
    border: none;
    height: 40px;
    text-align: center;
    font-size: 17px;
    display: block;
}

.subdiv button {
    background-color: rgb(94, 45, 230);
    border: none;
    height: 40px;
    text-align: center;
    font-size: 17px;
    display: block;
    width: 216px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: white;
}

.foot {
    background-color: rgb(29, 27, 27);
    height: 100px;
    width: 100%;
    text-align: center;
    color: white;
}

.foot footer p {
    display: inline;
    border-right: 2px solid white;
    padding-right: 10px;
}

@media only screen and (max-width: 768px) {
    .content p {
        font-size: 16px;
    }
    .dimimage {
        margin-top: 600px;
    }
    .pics {
        background-image: url(pic.jpg);
        background-size: contain;
        background-position: center;
        padding-left: 20px;
        height: 1500px;
    }
    .teachers {
        background-color: rgb(243, 236, 236);
        height: 300px;
        width: 100%;
        text-align: center;
        margin-top: 120px
    }
}